@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/***** NAVBAR *****/

.header {
    background-color: black;
    padding: 1rem 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 400;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding-inline: 1.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: .25s;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.cerrar-menu,
.abrir-menu {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.cerrar-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.nav-item a {
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-item__desc {
    display: block;
    font-weight: 300;
}

/***** MAIN *****/
.main {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.main-seccion {
    border-bottom: 2px solid #9d9d9d;
    padding-bottom: 1rem;
    padding-top: 1rem ;
}

.main-seccion:nth-child(5) {
    border: 0;
}

.articles {
    padding-top: .5rem;
}

/***** ABOUT ME *****/
.about-article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about-article img {
    max-width: 100%;
}

.about-redes,
.about-botones {
    display: flex;
    gap: .5rem;
}

.about-redes a {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.boton {
    width: max-content;
    border: 1px solid black;
    padding: .3rem 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.boton:hover {
    background-color: black;
    color: white;
}

/***** EDUCATION *****/
.educacion-article{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.educacion-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #c1c1c1;
    padding: 1rem;
}

.educacion-item img {
    max-width: 2rem;
}

.educacion-instituto > a > p {
    font-size: 1.2rem;
}

.educacion-instituto > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: black;
}

.educacion-instituto > i {
    cursor: pointer;
}

.educacion-item p {
    font-weight: 500;
}

.educacion-instituto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.educacion-informacion {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/***** SKILLS *****/
.skills-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.skill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c1c1c1;
    padding: 1rem 0;
}

.skill img {
    max-width: 4rem;
}

/***** PROJECTS *****/


/***** CONTACT *****/


/***** FOOTER *****/
.footer {
    background-color: black;
    color: white;
    font-weight: 300;
    padding: .2rem 1rem;
}

.disabled {
    display: none;
}

@media only screen and (min-width: 700px) {

    /***** NAVBAR *****/
    .header {
        top: 0;
        position: sticky;
    }

    .cerrar-menu,
    .abrir-menu {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        gap: 2.5rem;
    }

    .nav-item__desc {
        display: none;
    }

    .nav {
        opacity: 1;
        visibility: visible;
        flex-direction: row;
        position: relative;
        padding-inline: 0;
        box-shadow: none;
        transition: none;
    }

    /***** EDUCATION *****/
    .educacion-article{
        grid-template-columns: repeat(4, 1fr);
    }
    
}